<!DOCTYPE html>
<html> 
<link rel="stylesheet" href="templatemo_style.css" /> 

         

 <head>
    
    
        <title>RMgX</title>
    </head>
    <body>
       
        <ul id="navigation">
        <div id="templatemo_slogan">
        {% for item in navigation %}
            <p>{{item}}</p>
        {% endfor %}
        </div>
        </ul>      
         </body>
</html>