<!DOCTYPE html>
<html> 
<link rel="stylesheet" href="templatemo_style.css" /> 

         

 <head>
    
    
        <title>RMgX</title>
    </head>
    <body>
       
 <h1><img src="images/logo.png" alt="RMgX">
        RMgX INTERNS</h1>
<form method="post" action="lolo.php">
<label>NAME</label>
<input type="text" name="naam">
<input type="submit" value="ENTER">
</form>
        <button class="MyButton" type="button" onclick="window.location.href='yolo.php'">ADD NEW INTERNS</button>
 
       <div id="templatemo_slogan">
       <p>NEWLY ADDED INTERNS</p>
        </body>
</html>